{{template "base/base.html" .}}
{{define "head"}}
<title xmlns="http://www.w3.org/1999/html">{{i18n .Lang "login_title"}}</title>
{{end}}
{{define "body"}}
<div class="container">
    <div class="row" align="right">
        <img src="/static/tiritis-small.png"/>

    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{i18n .Lang "login_title"}}</h3>
                </div>
                <div class="panel-body">
                    <form role="form" method="post" action="login">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder='{{i18n .Lang "username"}}' name="username" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder='{{i18n .Lang "password"}}' name="password" type="password"
                                       value="">
                            </div>
                            <input type="submit" class="btn btn-lg btn-success btn-block" value='{{i18n .Lang "login"}}'> </input>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}
