{{template "base/base.html" .}}
{{define "head"}}
<title>{{i18n .Lang "inspects_new"}}</title>
<link rel="stylesheet" href="/static/vendor/codemirror/lib/codemirror.css">
<script src="/static/vendor/codemirror/lib/codemirror.js"></script>
<script src="/static/vendor/codemirror/mode/javascript/javascript.js"></script>
<script src="/static/vendor/codemirror/addon/edit/matchbrackets.js"></script>
<link rel="stylesheet" href="/static/vendor/codemirror/theme/cobalt.css">

<style>
  .CodeMirror { height: auto; border: 1px solid #ddd; }
  .CodeMirror-scroll { max-height: 200px; }
  .CodeMirror pre { padding-left: 7px; line-height: 1.25; }
</style>

{{end}}
{{define "body"}}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">{{i18n .Lang "inspects_new"}}</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<form action="/inspects/save" method="post">
    <div class="row">
        <div class="col-lg-1">
            <div class="form-group">
                <label for="txtName">{{i18n .Lang "name"}}</label>
                <input type="text" class="form-control" id="txtName" name="txtName" placeholder='{{i18n .Lang "name"}}'
                       value="{{.inspection.Name}}">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="selResource">{{i18n .Lang "resource"}}</label>
                {{$selected:=.inspection.Resource}}
                <select id="selResource" name="selResource" class="form-control">
                    {{range .resources}}
                    <option {{if eq .Name $selected}}selected{{end}}>{{.Name}}</option>
                    {{end}}

                </select>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="form-group">
                <label for="txtDesc">{{i18n .Lang "description"}}</label>
                <input type="text" class="form-control" id="txtDesc" name="txtDesc"
                       placeholder='{{i18n .Lang "description"}}' value="{{.inspection.Description}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-11">
            <div class="form-group">
                <label for="txtScript">{{i18n .Lang "script"}}</label>
                <textarea class="form-control" name="txtScript" id="txtScript">{{.inspection.Script}}</textarea>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-11">
            <button class="btn btn-primary" type="submit">{{i18n .Lang "save"}}</button>
            <a href="/inspects" class="btn btn-default">{{i18n .Lang "cancel"}}</a>
        </div>
    </div>

</form>
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("txtScript"), {
      lineNumbers: true,
      mode: "text/javascript",
      matchBrackets: true
    });
    editor.setOption("theme", "cobalt");
</script>
{{end}}
